@model ProjetoCidade.Models.Estado

@{
    ViewBag.Title = "Novo Estado";
    Layout = null;
}
<style>
    .modal-body {
       min-height: 400px;
    }
</style>

<div class="row" style="margin-left:50px">
    <h1>@ViewBag.Title</h1>
</div>

<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
            </div>
        </div>
       
            <div class="form-group row">

                @Html.LabelFor(model => model.pais_id, "Pais:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("pais_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.pais_id, "", new { @class = "text-danger" })
                    
                </div>
            </div>
            <div class="col-lg-4" />
            <div class="col-lg-2">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Salvar" class="btn btn-success btn-sm" />
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                      <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
            <div class="col-lg-4">


                <div class="col-lg-3" />
            </div>
        <br />
        <br />
        <br />
   
}

<!-- Modal if button -->
<div id="CreateModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-body">
        <!-- Modal content-->
        <div class="modal-content">
           
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
