@model ProjetoCidade.Models.Estado

@{
    Layout = null;
}

<div class="row" style="margin-left:50px;">
    <h1>Tem certeza que deseja remover o cadastro ? </h1>
</div>


<div class="row" style="margin-left:50px;">
    <h3>
        @Html.DisplayNameFor(model => model.nome)
        @Html.DisplayFor(model => model.nome)
    </h3>
    </div>
    <div class="row" style="margin-left:50px;">
    <h3>
         @Html.DisplayNameFor(model => model.pais.nome)
     @Html.DisplayFor(model => model.pais.nome) - @Html.DisplayFor(model => model.pais.sigla)
    </h3>
</div>

<br />

@using (Html.BeginForm())
            {
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-4" />
        <div class="col-sm-2">
            <div class="form-actions no-color" style="margin-left:30px;">
                <input type="submit" value="Confirmar" class="btn btn-danger" />
            </div>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-default" href="@Url.Action("Index", "Estado")"> Cancelar </a>
        </div>
        <div class="col-sm-4" />
    </div>
   <br />
}