@model ProjetoCidade.Models.Estado


@{
    ViewBag.Title = "Detahes do Cadastro";
    Layout = null;
}

<div class="row" style="margin-left:50px;">
    <h1>@ViewBag.Title </h1>
</div>

<div>

    <div class="form-horizontal">
        <div class="row" style="margin-left:50px;">
            <h3>
                @Html.DisplayNameFor(model => model.nome)
                @Html.DisplayFor(model => model.nome)
            </h3>
        </div>
        <div class="row" style="margin-left:50px;">
            <h3>
                @Html.DisplayNameFor(model => model.pais.nome)
                @Html.DisplayFor(model => model.pais.nome) - @Html.DisplayFor(model => model.pais.sigla)
            </h3>
        </div>
    </div>
</div>

<div class="row" style="margin-left:50px;">
    <div class="col-sm-4" />
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#DetailsModal" href="@Url.Action("Edit", "Estado", new { id = Model.id })">
            <span class="glyphicon glyphicon-pencil"> Editar </span>
        </button>
    </div>
    <div class="col-sm-2">
        <a class="btn btn-default btn-sm" href="@Url.Action("Index","Estado")"> Fechar </a>
    </div>
    <div class="col-sm-4" />
</div>

<br />

<!-- Modal -->
<div id="DetailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content">
        </div>
    </div>
</div>