@model IEnumerable<ProjetoCidade.Models.Estado>

@{
    ViewBag.Title = "Cadastro de Estado";
}

<h2>@ViewBag.Title</h2>

<style>
    .modal-body {
        min-height: 400px;
    }
</style>



<button type="button" class="btn btn-success " data-toggle="modal" data-target="#myModal" href="@Url.Action("Create","Estado")">
    Novo 
</button>
<!-- Modal, Create -->
<div class="modal fade" id="myModal" role="dialog" >
    <div class="modal-dialog modal-lg modal-body ">
        <div class="modal-content">
        </div>
    </div>
</div>





<!-- Modal Edit, Details, Delete -->
<div id="EstadoModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg modal-body ">
        <div class="modal-content">
          </div>
     </div>
 </div>
<!-- Fim do model --->

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pais.nome)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pais.nome) - @Html.DisplayFor(modelItem => item.pais.sigla)
            </td>

            <td>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#EstadoModal" href="@Url.Action("Edit", "Estado", new { id = item.id })">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                |
                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#EstadoModal" href="@Url.Action("Details", "Estado", new { id = item.id })">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </button>
                |
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#EstadoModal" href="@Url.Action("Delete", "Estado", new { id = item.id })">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    }
</table>
